{% extends "base.html" %}
{% load static %}
{% block title %}
{{ object.title }} - {{ block.super}}
{% endblock %}

{% block content %}

<strong>Name: {{ object.title }}</strong>
</br>
</br>
{{ object.category }}
</br>
{% if object.product_pic %}
<img src="{{ object.product_pic.url }}" class="card-img">
{% else %}
<img src="{% static 'ecom\images\products\no-image.jpg' %}" class="card-img">
{% endif %}

{% include "products/detail_snippet.html" with object=object %}
</br>
</br>
{% if object.price %}
Price: {{ object.price }}
{% else %}
Currently not available
{% endif %}
{% endblock %}